{% extends 'base.html.twig'%}

{% block title 'Ma super agence' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Ma super agence</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam asperiores ex perspiciatis a. Nobis cumque enim eum, error hic ea velit sed molestiae, consequatur dolor, sequi ducimus suscipit laudantium dolore!
        </p>
    </div>

    <div class="container">
        <h2> Les derniers biens </h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href= {{ path("property.show", {slug : property.slug, id : property.id}) }}>{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.title }}({{ property.postalCode }})</p>
                            <div class="text-primary" style="font-weight:bold; font-size:2rem;">{{ property.formattedPrice }}€</div>
                           
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    
    </div>

{% endblock %}